@import url('https://statics.herokuapp.com/fonts/fonts.css');

body {
	color: #C6C2EF;
	background: url(http://assets.heroku.com.s3.amazonaws.com/showoff/background-seigaiha.png), -moz-linear-gradient(90deg, #1b1b24 0%, hsl(240, 14%, 6%) 100%);
	background: url(http://assets.heroku.com.s3.amazonaws.com/showoff/background-seigaiha.png), -webkit-gradient(linear, left bottom, left top, from(#1b1b24), to(hsl(240, 14%, 6%)));
}
.slide {
	border-left: 1px solid hsla(240, 14%, 21%, 0.4);
	border-right: 1px solid hsla(240, 14%, 21%, 0.4);
	width:  1022px;
	background: hsl(240, 14%, 11%);
}
.content {
	font-family: "CorbelRegular", "Helvetica Neue", Helvetica, sans-serif;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.42);
}
.content h1 {
	color: #fff;
}
#footer {
	background: url(http://assets.heroku.com.s3.amazonaws.com/showoff/logo.png) no-repeat left center;
	color: hsla(240, 20%, 40%, .7);
	height: 30px;
	padding-left: 28px;
	top: -36px;
	width: 977px;
	font: 13px/30px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.commandline code.command{
  color: black;
} 

pre {
  background-color: white;
  color: black;
}
